# IDE and editor files
.idea/
.vscode/

# Composer dependencies
/vendor/
composer.lock

# PHPUnit configuration and results
phpunit.xml
phpunit.xml.dist
phpunit.result.cache
phpunit.results.xml

# Logs and caches
*.log
*.cache

# Temp files and directories
tmp/
temp/

# Build directories and files
/build/
